<a href="https://colab.research.google.com/github/mmamoun1/Unit3FinalProject/blob/main/Unit3Final_MostafaMamoun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Unit 3 Final

https://healthdata.gov/dataset/COVID-19-Reported-Patient-Impact-and-Hospital-Capa/6xf2-c3ie

Data Description: This data is a collection of "COVID-19 Reported Patient Impact and Hospital Capacity by State", with variables describing how COVID 19 is impacting thousands of hospitals across the United States.

In [ ]:
# First Step: I will import pandas to use the dataframe functionality
import pandas as pd
# Now, I can import the dataset into a dataframe named df.
df = pd.read_csv('https://healthdata.gov/resource/6xf2-c3ie.csv')
# Now, I can check the shape of the dataframe to see if it has the expected 72.6k rows of data'
df.shape

(54, 135)

If the shape is (54, 135), then the dataset has been read in correctly and can now be manipulated.

In [ ]:
## This dataset has a lot of valuable information about the number of hospitals in each state that are being affected by COVID-19, but
# the amount of information can make it hard to find the most pressing issues. So, I will subset the data to create a new dataframe with
# the 10 states with the most anticipated critical staffing shortages within the week. This way, focus can be put on those states who require the most assistance,
# and future analysis can also be done on that state's hospital information to find out why these shortages occurred and predict them occurring again.

## The first step to do this is to sort by anticipated hospital shortages.
##Using the sort_values function, we can sort by the necessary column and set it to descending
df = df.sort_values(by=['critical_staffing_shortage_anticipated_within_week_yes'], ascending=False)

# Then, we can create a new dataframe for the first 10 values in the sorted dataframe using the head() function
top_ten_df = df.head(10)
# Now, we can print out the new dataframe and observe the results
top_ten_df

,state,critical_staffing_shortage_today_yes,critical_staffing_shortage_today_no,critical_staffing_shortage_today_not_reported,critical_staffing_shortage_anticipated_within_week_yes,critical_staffing_shortage_anticipated_within_week_no,critical_staffing_shortage_anticipated_within_week_not_reported,hospital_onset_covid,hospital_onset_covid_coverage,inpatient_beds,...,previous_day_admission_pediatric_covid_confirmed_5_11_coverage,previous_day_admission_pediatric_covid_confirmed_unknown,previous_day_admission_pediatric_covid_confirmed_unknown_coverage,staffed_icu_pediatric_patients_confirmed_covid,staffed_icu_pediatric_patients_confirmed_covid_coverage,staffed_pediatric_icu_bed_occupancy,staffed_pediatric_icu_bed_occupancy_coverage,total_staffed_pediatric_icu_beds,total_staffed_pediatric_icu_beds_coverage,date
45,MI,28,107,21,31,121,4,1.0,26,21290,...,151,0,152,2,152,145,152,164,152,2023-11-18T00:00:00.000
3,CA,10,114,223,24,256,67,18.0,170,60313,...,334,3,335,12,339,911,339,1287,339,2023-11-18T00:00:00.000
33,PA,1,9,178,19,163,6,37.0,142,30399,...,176,2,182,3,182,398,182,413,182,2023-11-18T00:00:00.000
8,MO,1,19,94,19,59,36,12.0,54,14599,...,103,0,110,5,110,167,110,222,110,2023-11-18T00:00:00.000
17,MD,12,4,34,14,17,19,5.0,22,9653,...,48,0,49,1,49,18,49,19,49,2023-11-18T00:00:00.000
28,TN,3,74,36,13,77,23,13.0,99,19783,...,109,0,110,1,110,128,110,161,110,2023-11-18T00:00:00.000
49,WI,14,72,52,12,88,38,0.0,19,11260,...,134,0,135,0,135,65,135,81,135,2023-11-18T00:00:00.000
1,NM,0,2,44,12,31,3,0.0,2,3934,...,39,0,43,3,42,20,42,36,42,2023-11-18T00:00:00.000
22,AR,1,7,82,12,75,3,0.0,25,7722,...,83,0,88,5,88,52,88,82,88,2023-11-18T00:00:00.000
7,OK,0,1,126,12,90,25,1.0,28,8580,...,117,0,115,1,125,60,125,90,125,2023-11-18T00:00:00.000